@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
/* Title */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title {
    @apply text-5xl font-bold uppercase tracking-wider;
  }
  .section-title {
    @apply text-4xl font-bold tracking-wider mb-4;
  }
  .subtitle {
    @apply text-2xl text-neutral-100 tracking-wide;
  }

  .primary-button {
    @apply bg-neutral-100 text-slate-900 p-2 font-bold rounded text-xl;
  }
  .menu-text {
    @apply text-xl gap-4 pl-4 pr-4 uppercase tracking-wide font-bold font-dosis;
  }
  .menu-item {
    @apply hover:text-neutral-300;
  }
  .section-bg {
    @apply flex flex-col p-10 h-full min-h-[calc(100vh-5rem)] bg-gradient-to-br from-slate-900 via-slate-800 to-slate-700 border-b-2 border-gray-400 text-neutral-100;
  }

  .ghost-button {
    @apply p-2 border text-lg font-bold w-full border-slate-500 rounded;
  }

  .icon-module-style {
    @apply border border-neutral-200 w-16 rounded flex flex-col justify-center items-center text-neutral-200;
  }
}

@layer components {
  .btn-agree {
    @apply p-4 flex justify-center items-center font-bold text-xl tracking-wide border-2 border-emerald-400 rounded-sm shadow-md   font-extrabold text-transparent bg-clip-text bg-gradient-to-bl from-green-400 to-lime-700;
  }
  .btn-disagree {
    @apply p-4 flex justify-center items-center font-bold text-xl tracking-wide border-2 border-gray-400 rounded-sm shadow-md   font-extrabold text-transparent bg-clip-text bg-gradient-to-bl from-slate-400 to-gray-700;
  }
  .colored {
    @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-tl from-blue-300 to-primary-800;
  }
  .light-theme {
    @apply bg-gray-50;
  }
  .dark-theme {
    @apply bg-slate-700;
  }
  .generic-page {
    @apply w-screen flex-col h-screen text-neutral-100 flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8;
  }
  .error-alert {
    @apply text-red-500 pl-4 flex min-h-full items-center justify-center border-red-500 border p-2 m-2 gap-2 rounded;
  }
  .input-style {
    @apply relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500  focus:border-primary-500 focus:outline-none focus:ring-primary-500 sm:text-sm;
  }
  .tiny-sb {
    @apply scrollbar-thin scrollbar-thumb-gray-300 scrollbar-track-gray-100;
  }
  .label-style {
    @apply relative block w-full appearance-none px-3 py-2 text-neutral-100 placeholder-gray-500 sm:text-sm font-light;
  }
  .btn-input {
    @apply relative flex w-full justify-center rounded-md border border-transparent bg-primary-400 py-2 px-4 text-sm font-medium text-white hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2;
  }
}

.skill {
  box-shadow: inset 0 1px 1px rgba(116, 125, 55, 0.8),
    inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3),
    0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #181e0a;
  background-image: linear-gradient(#25281a, #333917);
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
}
.touched-skill {
  box-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px #170c22,
    0 2px 1px 0 rgba(121, 65, 135, 0.5), inset 0 0 4px 3px rgba(15, 8, 22, 0.2);
  background-image: linear-gradient(#1f132e, #311d47);
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5),
    0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
  color: #e4e3ce;
}
